body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

body * {
  box-sizing: border-box;
}

/* Element styles */
h1,
h2,
h3 {
  font-weight: normal;
}

p {
  line-height: 1.5;
}

p kbd {
  font-size: 1.2em;
  border: solid black 0.0625em;
  border-radius: 0.1875em;
  padding: 0 0.125em;
}

a:link,
a:visited {
  text-decoration: none;
  color: purple;
}

a:hover {
  text-decoration: underline;
}

article > ol {
  list-style-position: inside;
  padding-left: 1rem;
}

ul {
  list-style: none;
}

li {
  line-height: 1.5;
}

figure {
  margin: 1em 0;
}

figure figcaption {
  font-size: 0.9em;
  padding: .3125rem 0;
}

footer a {
  /* text-decoration: none; */
  padding-bottom: 1.25rem;
}

footer a#prev {
  float: left;
}

footer a#next {
  float: right;
}

/* App class styles */
.top-container {
  font-family: "Verdana", sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 1fr;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff8dc;
  background-color: purple;
  width: 100%;
}

.site-header h1 {
  font-size: 1.75rem;
  text-align: center;
  margin: 0;
}

.main-container {
  color: #050505;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 16rem 1fr;
  overflow: hidden;
}

.toc-container {
  padding: .625rem .625rem;
  border-right: 2px solid lightgray;
}

.toc-container h2 {
  display: none;
}

.toc {
  padding-left: .375rem;
}

.toc > li > h3 {
  margin-bottom: 0;
}

.toc > li > ul {
  padding-left: 1rem;
}

.content-container {
  padding: 0 1.5rem;
  overflow-y: auto;
}

.content-container article,
.content-container footer {
  max-width: 64rem;
  margin: 0 auto;
}

.content-container li.list-item-text {
  margin-bottom: 1rem;
}

.content-container li > span.list-item-title {
  font-weight: bold;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}

.code-inline {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  color: #2d2d2d;
  background-color: #dddddd;
  padding: .125rem;
}

.image-border {
  border: solid medium lightgrey;
}

/* For small screens */
@media screen and (max-width: 63rem) {
  li {
    line-height: normal;
  }

  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(2.5em) 1fr;
  }

  .site-header h1 {
    font-size: 1.375rem;
  }

  .toc-container {
    background-color: #f1eef1;
    min-width: auto;
    border-right: none;
  }

  .toc-container h2 {
    display: inherit;
    font-size: 1.25rem;
    margin: 0;
  }

  .toc {
    display: none;
    padding-left: 1.25rem;
  }

  .toc.active {
    display: block;
  }

  .toc > li > h3 {
    font-size: 1.125rem;
  }

  .toc li > ul > li {
    line-height: 2.25;
  }

  .content-container {
    max-height: 88%;
    padding-left: .75rem;
    padding-right: .75rem;
  }

  .image-container p {
    margin-top: 0;
  }

  .scrollable-x {
    overflow-x: auto;
  }
}

@media screen and (max-width: 42rem) {
  .image-container {
    grid-template-columns: 1fr;
  }
}
