body {
  margin: 0;
  overflow: hidden;
}

/* Element styles */
h1,
h2,
h3 {
  font-weight: normal;
}

p {
  line-height: 1.5;
}

p kbd {
  font-size: 1.2em;
  border: solid black 0.0625em;
  border-radius: 0.1875em;
  padding: 0 0.125em;
}

a:link,
a:visited {
  text-decoration: none;
  color: purple;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

li {
  line-height: 1.5;
}

figure figcaption {
  font-size: 0.9em;
  padding: 5px 0;
}

footer a {
  /* text-decoration: none; */
  padding-bottom: 20px;
}

footer a#prev {
  float: left;
}

footer a#next {
  float: right;
}

/* App class styles */
.top-container {
  font-family: "Verdana", sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 1fr;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff8dc;
  background-color: purple;
  width: 100%;
}

.site-header h1 {
  font-size: 1.75rem;
  text-align: center;
  margin: 0;
}

.main-container {
  color: #050505;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 2em;
  overflow: hidden;
}

.toc-container {
  min-width: 17rem;
  padding: .625rem .625rem;
  border-right: 2px solid lightgray;
}

.toc-container h2 {
  display: none;
}

.toc-container ul {
  padding-left: 1.25rem;
}

.toc > li > h3 {
  margin-bottom: 0;
}

.content-container {
  padding: 0 10px;
  overflow-y: auto;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
}

.code-inline {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  color: #2d2d2d;
  background-color: #dddddd;
  padding: 2px;
}

.image-border {
  border: solid medium lightgrey;
}

/* For small screens */
@media screen and (max-width: 48rem) {
  li {
    line-height: normal;
  }

  figure {
    margin: 1em 0;
  }

  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(2.5em) 1fr;
  }

  .site-header h1 {
    font-size: 1.375rem;
  }

  .toc-container {
    background-color: #f1eef1;
    min-width: auto;
    border-right: none;
  }

  .toc-container h2 {
    display: inherit;
    font-size: 1.25rem;
    margin: 0;
  }

  .toc {
    display: none;
  }

  .toc.active {
    display: block;
  }

  .toc > li > h3 {
    font-size: 1.125rem;
  }

  .toc li > ul > li {
    line-height: 2.25;
  }

  .content-container {
    max-height: 88%;
  }

  .image-container {
    grid-template-columns: 1fr;
  }

  .image-container p {
    margin-top: 0;
  }

  .scrollable-x {
    overflow-x: auto;
  }
}

/* For wide screens */
@media screen and (min-width: 1600px) {
  article,
  footer {
    max-width: 75%;
  }

  pre {
    width: 60em;
  }

  .toc-container > ul {
    float: right;
    padding-right: 1.25rem;
  }

  .toc-container > ul > li:nth-child(1) > h3 {
    margin-top: 0;
  }
}
