./tutorial-nonresponsive.js
./tutorial-responsive.css
./tutorial-responsive.js

# Unused Image files
images/ArduinoIDE-01.jpg
images/ArduinoIDE-02.jpg
images/ArduinoIDE-03.jpg
images/ArduinoIDEVerifyUpload.jpg
images/ArduinoUNO.jpg
images/ArduinoUNOBreadboardDiagram.jpg
images/ArduinoUNOBreadboardDiagram400.jpg
images/ArduinoUNOBreadboardDiagramHorizontal600.jpg
images/ArduinoUNOCode.jpg
images/ArduinoUNOSetupOriginal.jpg
images/BlinkArduinoUNOCode.jpg
images/BlinkArduinoUNOSetup.jpg
images/BlinkArduinoUNOSetup500.jpg
images/Breadboard.jpg
images/ClientHTML.jpg
images/ClientJS.jpg
images/DOSSerialSocketInstall.jpg
images/DOSSerialSocketInstall600.jpg
images/DOSServerStart.jpg
images/JumperWires.jpg
images/JumperWires100.jpg
images/overview-00-mobile.png
images/overview-01.png
images/overview-02.png
images/overview-03-750.png
images/overview-03.jpg
images/overview-03.png
images/RaspberryPiArduinoIDENewFile.png
images/RaspberryPiNodeJSDownload.png
images/ServerJS.jpg
images/USBCableA-B.jpg
images/USBCableA-B300.jpg
images/WindowsArduinoIDEChoosePort.jpg
images/WindowsArduinoIDENewFile-300w.png
images/WindowsNodeJSDownload.jpg
images/WindowsNodeJSDownload.png
images/*.fzz
images/*.pptx
images/*.txt
images/*.zip

# Visual Studio Code settings
.vscode/*
